{% extends "base.html" %}
{% block title %} Ajouter un MAIL{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Clavioter un nouveau MAIL
			</p>
			<form method="POST">
				<div class="form-group">
					<label for="Mail">
						Mail
					</label>
					<input type ="text" class="form-control" name="name_mail_html" />
				</div>
				<button type="submit" class="btn btn-primary">
					Enregistrer le mail
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
