<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2020.05.20</div>
        </div>
  </div>
</footer>