{% extends "base.html" %}
{% block title %}Edit PERSONNE{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier cette personne.
			</p>
			<form method="POST" action="{{ url_for('personnes_update') }}">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th class="align-middle">
                                id
                            </th>
                            <th class="align-middle">
                                Nom
                            </th>
                            <th class="align-middle">
                                Prénom
                            </th>
                            <th class="align-middle">
                                Date de naissance
                            </th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="id_personne_edit_html" value="{{ row.id_Personne }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_NomPers_html" value="{{ row.NomPers }}"/>
                                </td>
                                <td>
                                    <input type = "text" name = "name_edit_PrenomPers_html" value="{{ row.PrenomPers }}"/>
                                </td>
                                <td>
                                    <input type = "date" name = "name_edit_DateNaissPers_html" value="{{ row.DateNaissPers }}"/>
                                </td>
                                <td>
                                    <button class="btn btn-warning" type="submit">Update</button>
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
