{% extends "base.html" %}
{% block title %} Ajouter une PERSONNE{% endblock %}
{% block body %}
<div class="container">
	<div class="row" style="padding-top:100px;">
		<div class="col-md-12">
			<p>
				Clavioter une nouvelle PERSONNE
			</p>
			<form method="POST">
				<table  class="table table-bordered table-sm">
					<thead>
                        <tr>
                            <th class="align-middle">
                                id
                            </th>
                            <th class="align-middle">
                                Nom
                            </th>
                            <th class="align-middle">
                                Prénom
                            </th>
                            <th class="align-middle">
                                Date de naissance
                            </th>
                        </tr>
                    </thead>
					<tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <input type ="text" class="form-control" name="name_personne_html" />
                                </td>
                                <td>
                                    <input type ="text" class="form-control" name="firstname_personne_html" />
                                </td>
                                <td>
                                    <input type ="date" class="form-control" name="datenaissance_personne_html" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Enregistrer la personne</button>
                                </td>
                            </tr>
                        </tbody>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
